<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="author" content="Vsevolod Solovyov">
  <meta name="keywords" content="open source, game, clone, remake, remakes">
  <meta name="description" content="List of open source clones of popular old-school games.">
  <meta name="application-name" content="OS Game Clones">
  <meta name="application-url" content="http://osgameclones.com/">
  <link rel="stylesheet" href="static/main.css">
  <title>Open Source Game Clones</title>
</head>

<body>
  <header><h1>Open Source Game Clones</h1></header>

  <article>
    <p>
      This site tries to
      gather <a href="http://en.wikipedia.org/wiki/Open_source">open-source</a>
      reimplementations of great old games in one place. If you think that
      something is missing from the list - please go to
      our <a href="http://github.com/piranha/osgameclones/">Github
      repository</a> and create an issue or even a pull request!
    </p>
    <p>
      Since all these projects are open-source you can help them and make this
      world a better place. Or at least you can play something to appreciate the
      effort people put in them.
    </p>
    <p>
      Similar resources: check
      out <a href="http://www.liberatedgames.com/">Liberated Games</a>, which
      specializes on commercial games, which were made free,
      and <a href="http://freegamer.blogspot.com/">Free Gamer</a>, a blog
      dedicated to open source game news.
    </p>
    <p class="new">All games that were added in last month are highlighted like this.</p>
  </article>

  <div>
    <input id="filter" type="text" placeholder="Type to filter by name or information">
  </div>

{% macro render_name(name, idx) %}
  {%- if name|length == 2 -%}
    {% set name, wiki = name %}
  {%- else -%}
    {% set wiki = name %}
  {%- endif -%}

  {%- if wiki[:6] in ["http:/", "https:"] -%}
    {% set wikilink = wiki %}
  {%- else -%}
    {% set wikilink = "http://en.wikipedia.org/wiki/" + wiki %}
  {%- endif -%}

  <dt {% if not idx %}id="{{ name }}-{{ mode }}"{% endif -%} class="searchable">
    <a href="{{ wikilink }}">{{ name }}</a>
    {% if not idx %}<a href="#{{ name }}-{{ mode }}" class="hash">#</a>{% endif %}
  </dt>
{% endmacro %}

{% macro render(names, items, mode) %}
  {% for name in names %}
    {{ render_name(name, loop.index0) }}
  {% endfor %}

  {% for game in items %}
  <dd class="searchable {% if game.new %}new{% endif %}"
      data-index="{{ names|join(' ')|lower|e }}
                  {{ game['name']|lower|e }}
                  {{ game['info']|lower|e }}">
    <span class="{% if 'media' in game %}toggler{% else %}notoggler{% endif %}">&#x25b6;</span>

    <a href="{{ game['url'] }}">{{ game['name'] }}</a> - {{ game['info'] }}
    {%- if 'repo' in game %} (<a href="{{ game['repo'] }}">repository</a>){% endif %}.

    <script type="text/screenshots">
      {% for item in game.get('media', []) %}
      {% if 'raw' in item %}{{ item['raw'] }}{% endif %}
      {% if 'image' in item -%}
        <a {%- if 'url' in item %} href="{{ item['url'] }}" {%- endif %}><img src="{{ item['image'] }}"></a>
      {%- endif %}
      {% endfor %}
    </script>
  </dd>
  {% endfor %}
{% endmacro %}

  <h2>List of complete clones</h2>
  <article>Some of these games aren&#39;t reimplementations but evolution of original ones, which were eventually open sourced.</article>
  <dl>
    {% for names, items in site.clones %}
    {{ render(names, items, 'clones') }}
    {% endfor %}
  </dl>

  <h2>Inspired by original game series</h2>
  <dl>
    {% for names, items in site.reimplementations %}
    {{ render(names, items, 'inspired') }}
    {% endfor %}
  </dl>

  <footer>&#169; 2011-2014
    <a href="mailto:vsevolod.solovyov@gmail.com">Vsevolod Solovyov</a>,
    <a href="mailto:alexander@solovyov.net">Alexander Solovyov</a>
  </footer>

  <style id="filter-style">
  </style>

  <script type="text/javascript">
    // screenshot handling
    (function() {
      var onclick = function() {
        var screenshots = this.parentNode.getElementsByTagName("script");
        if (screenshots.length) {
            var innerHTML = '<div class="screenshots" style="display: none">' +
                            screenshots[0].innerHTML + '</div>';
            this.parentNode.insertAdjacentHTML('beforeend', innerHTML);
            this.parentNode.removeChild(screenshots[0]);
        }
        screenshots = this.parentNode.getElementsByClassName("screenshots")[0];
        var show_now = screenshots.style.display == "none";
        this.innerHTML = show_now ? "&#x25bc;" : "&#x25b6;";
        screenshots.style.display = show_now ? "block" : "none";
      }
      var els = document.getElementsByClassName("toggler");
      for (var i = 0, l = els.length; i < l; i++) {
        els[i].addEventListener("click", onclick);
      }
    })();

    // search handling
    (function() {
        // collect indexes on dt
        var nodes = document.getElementsByTagName('dt');
        for (var i = 0, l = nodes.length; i < l; i++) {
            var el = nodes[i], next = el, index = [];
            while ((next = next.nextElementSibling) && !next.id) {
                if (next.tagName != 'DD')
                    continue;
                index.push(next.getAttribute('data-index'));
            }
            el.setAttribute('data-index', index.join(' '));
        };

        var getfilter = function(term) {
            return !term ? "" :
                '[data-index*="' + term.toLowerCase().replace('"', '') + '"]';
        }

        var style = document.getElementById('filter-style');
        document.getElementById('filter').addEventListener('input', function() {
            if (!this.value) {
                style.innerHTML = "";
                return;
            }
            style.innerHTML =
                ".searchable {display: none} .searchable" +
                this.value.split(' ').map(getfilter).join('') +
                "{display: block}";
        });
    })();
  </script>

  <script type="text/javascript">
  var _gaq = [['_setAccount', 'UA-23716824-1'], ['_trackPageview']];
  setTimeout("_gaq.push(['_trackEvent', '15_seconds', 'read'])", 15000);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>

</body>
</html>
