<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="author" content="Vsevolod Solovyov">
  <meta name="keywords" content="open source, game, clone">
  <meta name="description" content="List of open source clones of popular old-school games.">
  <meta name="application-name" content="OS Game Clones">
  <meta name="application-url" content="http://osgameclones.com/">
  <link rel="stylesheet" href="static/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
  <script src="static/main.js"></script>
  <title>Open Source Game Clones</title>
</head>

<body>
  <header><h1>Open Source Game Clones</h1></header>

  <article>This site tries to gather open-source reimplementations of great old games in one place. Now it is very simple and if you think that some information is missing or have any suggestions - feel free to contact me by <a href="mailto:vsevolod.solovyov@gmail.com">e-mail</a>.</article> 

{% macro render(names, items) %}
  {% for name in names %}
  {% if name|length == 2 %}{% set name, wiki = name %}{% else %}{% set wiki = name %}{% endif %}
  <dt><a href="http://en.wikipedia.org/wiki/{{ wiki }}">{{ name }}</a></dt>
  {% endfor %}

  {% for game in items %}
  <dd>
    {% if 'media' in game %}<span class="toggler">&#x25b6;</span>{% endif %}

    <a href="{{ game['url'] }}">{{ game['name'] }}</a> - {{ game['info'] }}
    {%- if 'repo' in game %} (<a href="{{ game['repo'] }}">repository</a>){% endif %}.

    <div class="screenshots">
      {% for item in game.get('media', []) %}
      {% if 'raw' in item %}{{ item['raw'] }}{% endif %}
      {% if 'image' in item %}<a href="{{ item['url'] }}"><img src="{{ item['image'] }}"></a>{% endif %}
      {% endfor %}
    </div>
  </dd>
  {% endfor %}
{% endmacro %}  
  
  <h2>List of complete clones</h2>
  <article>Some of these games aren't reimplementations but evolution of original ones, which were eventually open sourced.</article>
  <dl>
    {% for names, items in site.clones %}
    {{ render(names, items) }}
    {% endfor %}
  </dl>

  <h2>Inspired by original game series</h2>
  <dl>
    {% for names, items in site.reimplementations %}
    {{ render(names, items) }}
    {% endfor %}
  </dl>

  <footer>&#169; 2011 <a href="mailto:vsevolod.solovyov@gmail.com">Vsevolod Solovyov</a></footer>

  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23716824-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>

</body>
</html>
