[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cyrax = ">=3.1"
natsort = "*"
pykwalify = ">=1.6.1"
PyYAML = "*"
Unidecode = "*"
htmlmin = "*"

[dev-packages]

[requires]
python_version = "3.7"
