{% extends "form_group.jinja2" %}
{% block control %}
<input
  type="text"
  class="form-control"
  id="{{ path }}"
  name="{{ path }}"
  {{ "required" if required else "" }}
  {% if "desc" in schema %}
    placeholder="{{ schema["desc"]|e }}"
  {% endif %}
  value="{{ value }}"
>
{% endblock %}