<div class="form-group row">
  {% block content %}
    <label for="{{ path }}" class="col-sm-2 col-form-label">
      {{ name|title }}
    </label>
    <div class="col-sm-10">
      {% block control %}{% endblock %}
    </div>
  {% endblock %}
</div>