{% macro render_name(name, meta, idx, mode) %}
  {%- if name is string -%}
    {% set wiki = name %}
  {%- else -%}
    {% set name, wiki = name %}
  {%- endif -%}

  {%- if wiki[:6] in ["http:/", "https:"] -%}
    {% set wikilink = wiki %}
  {%- else -%}
    {% set wikilink = "http://en.wikipedia.org/wiki/" + wiki %}
  {%- endif -%}

  <dt {% if not idx %}id="{{ show_id(name, mode) }}"{% endif %} class="searchable">
    <a href="{{ wikilink }}">{{ name }}</a>
    {% if not idx %}<a href="#{{ show_id(name, mode) }}" class="hash">#</a>{% endif %}

    {% if not idx %}
      {{ tags.render_tag('genre', meta['genre']) }}
      {{ tags.render_tag('subgenre', meta['subgenre']) }}
      {{ tags.render_tag('theme', meta['theme']) }}
    {% endif %}
  </dt>
{% endmacro %}

{% macro show_id(name, mode) -%}
  {{ name | lower | replace(' ', '-') }}-{{mode}}
{%- endmacro %}

{% macro show_tags(game) -%}
  {%- if 'multiplayer' in game %}
    {{ game.tags.append('multiplayer') }}
  {% endif -%}

  {{ game.tags | join(' ') }}
{%- endmacro %}

{% macro show_keywords_names(names) -%}
  {% for n in names -%}
    {% if n is not string -%}
      {% for i in n -%}
        {{ i | lower | e -}}{{ ' ' -}}
      {% endfor -%}
    {% else -%}
      {{ n | lower | e -}}
    {% endif -%}
  {% endfor -%}
{%- endmacro %}

{% macro show_keywords(game, names, meta) -%}
  {{ game.name | lower | e -}}{{ ' ' -}}
  {{ game.tags | join(' ') -}}{{ ' ' -}}
  {{ game.info | lower | e -}}{{ ' ' -}}

  {%- if game.new %}
    {{ 'new updated added' }}
  {% endif %}

  {%- if 'multiplayer' in game -%}
    {{ 'multiplayer' }}
  {%- endif -%}

  {{ show_keywords_names(names) }}
  {{ show_keywords_names(meta.names_ascii) }}
{%- endmacro %}

{% macro render(names, meta, items, mode) %}
  {% for name in names %}
    {{ render_name(name, meta, loop.index0, mode) }}
  {% endfor %}

  {% for game in items %}
  <dd class="searchable {% if game.new %}new{% endif %}"
      data-parent="
        {%- if names.0 is string -%}
          {% set name = names.0 %}
        {%- else -%}
          {% set name = names.0.0 %}
        {%- endif -%}
        {{ show_id(name, mode) }}"
      data-tags="{{ show_tags(game) -}}"
      data-index="{{ show_keywords(game, names, meta) -}}">
    <span class="{% if 'images' in game or 'video' in game %}toggler{% else %}notoggler{% endif %}">&#x25b6;</span>

    {%- if 'url' in game -%}
      <a href="{{ game['url'] }}">
    {%- endif -%}
      {{ game['name'] }}
    {%- if 'url' in game %}</a>{% endif %}

    {%- if 'feed' in game %}
      <a href="{{ game['feed'] }}" class="feed-icon" title="Feed"><span class="fas fa-rss"></span></a>
    {%- endif %}

    {%- if 'repo' in game %} (<a href="{{ game['repo'] }}">repo</a> {%- if 'repoiconname' in game %}<span class="repoicon {{ game['repoiconstyle'] }} fa-{{ game['repoiconname'] }}" title="{{ game['repotitle'] }}"></span>{%- endif %}){%- endif %}

    {%- if 'clones' in game %}
      {{ tags.render_tag('type', 'Clone') }}
    {%- endif %}
    {%- if 'remakes' in game %}
      {{ tags.render_tag('type', 'Remake') }}
    {%- endif %}
    {{ tags.render_tag('status', game['status'] | title) }}
    {{ tags.render_tag('development', game['development'] | title) }}
    {{ tags.render_tag('lang', game['lang']) }}
    {{ tags.render_tag('framework', game['framework']) }}

    {%- if 'multiplayer' in game %}
      {{ tags.render_tag('multiplayer', 'Multiplayer') }}
    {%- endif %}

    {{ tags.render_tag('content', game['content'] | title) }}
    {{ tags.render_tag('license', game['license']) }}

    {%- if 'info' in game %}<div>{{ game['info'] }}</div>{% endif %}

    <div class="gallery" style="display: none"></div>

    {% if game['images'] | length > 0 -%}
      <script class="gallery-json" data-game="{{ game['name'] }}" type="text/json">
        {{- game['images'] | join(', ') -}}
      </script>
    {% endif %}

    <script class="gallery-raw" type="text/plain">
      {% for imageUrl in game.get('images', []) %}
        <img src="{{ imageUrl }}">
      {% endfor %}

      {% if 'video' in game %}
        {% if 'youtube' in game['video'] %}{{ video.render_youtube(game['video']['youtube']) }}{% endif %}
        {% if 'vimeo' in game['video'] %}{{ video.render_vimeo(game['video']['vimeo']) }}{% endif %}
      {%- endif %}
    </script>
  </dd>
  {% endfor %}
{% endmacro %}
