{% import 'templates/video.html' as video %}
{% import 'templates/tags.html' as tags %}

{% macro render_name(name, meta, idx, mode) %}
  {%- if meta['external']['wikipedia'] -%}
    {% set wikilink = "http://en.wikipedia.org/wiki/" + meta['external']['wikipedia'] %}
  {%- else -%}
    {% set wikilink = meta['external']['website'] %}
  {%- endif -%}

  <dt {% if not idx %}id="{{ show_id(name, mode) }}"{% endif %} class="searchable">
    <a href="{{ wikilink }}">{{ name }}</a>
    {% if not idx %}<a href="#{{ show_id(name, mode) }}" class="hash">#</a>{% endif %}

    {% if not idx %}
      {{ tags.render_tag_groups('genre', meta['genre']) }}
      {{ tags.render_tag_groups('subgenre', meta['subgenre']) }}
      {{ tags.render_tag_groups('theme', meta['theme']) }}
    {% endif %}
  </dt>
{% endmacro %}

{% macro show_id(name, mode) -%}
  {{ name | lower | replace(' ', '-') }}-{{mode}}
{%- endmacro %}

{% macro show_tags(game) -%}
  {%- if 'multiplayer' in game %}
    {{ game.tags.append('multiplayer') }}
  {% endif -%}

  {{ game.tags | join(' ') }}
{%- endmacro %}

{% macro show_keywords_names(names) -%}
  {% for n in names -%}
    {% if n is not string -%}
      {% for i in n -%}
        {{ i | lower | e -}}{{ ' ' -}}
      {% endfor -%}
    {% else -%}
      {{ n | lower | e -}}
    {% endif -%}
  {% endfor -%}
{%- endmacro %}

{% macro show_keywords(game, names, meta) -%}
  {{ game.name | lower | e -}}{{ ' ' -}}
  {{ game.tags | join(' ') -}}{{ ' ' -}}
  {{ game.info | lower | e -}}{{ ' ' -}}

  {%- if game.new %}
    {{ 'new updated added' }}
  {% endif %}

  {%- if 'multiplayer' in game -%}
    {{ 'multiplayer' }}
  {%- endif -%}

  {{ show_keywords_names(names) }}
  {{ show_keywords_names(meta.names_ascii) }}
{%- endmacro %}

{% macro render_game(names, meta, game) %}
  <div itemscope="" itemtype="http://schema.org/SoftwareSourceCode">
    <dd class="searchable {% if game.new %}new{% endif %}"
        data-name="{{ game.name }}"
        data-parent="
          {%- if names.0 is string -%}
            {% set name = names.0 %}
          {%- else -%}
            {% set name = names.0.0 %}
          {%- endif -%}
          {{ show_id(name, mode) }}"
        data-tags="{{ show_tags(game) }}"
        data-index="{{ show_keywords(game, names, meta) }}"
        data-updated="{{ game.updated }}"
    >
      <span class="{% if 'images' in game or 'video' in game %}toggler{% else %}notoggler{% endif %}">&#x25b6;</span>

      {%- if 'url' in game -%}
        <a href="{{ game['url'] }}" itemprop="url"><span itemprop="name">{{ game['name'] }}</span></a>
      {%- else -%}
        <span itemprop="name">{{ game['name'] }}</span>
      {%- endif %}

      {%- if 'feed' in game %}
        <a href="{{ game['feed'] }}" class="feed-icon" title="Feed"><span class="fas fa-rss"></span></a>
      {%- endif %}

      {%- if 'repo' in game %}
        (
        <a itemprop="codeRepository" href="{{ game['repo'] }}">repo
        {%- if 'repoiconname' in game %}
          <span class="repoicon {{ game['repoiconstyle'] }} fa-{{ game['repoiconname'] }}" title="{{ game['repotitle'] }}"></span>
        {%- endif %}
        {%- if 'repobadge' in game %}{{ game['repobadge'] }}{%- endif %}
        </a>
        )
      {%- endif %}

      {{ tags.render_tag_groups('type', game['type'] | title) }}
      {{ tags.render_tag_groups('status', game['status'] | title) }}
      {{ tags.render_tag_groups('development', game['development'] | title) }}
      {{ tags.render_tag_groups('lang', game['lang']) }}
      {{ tags.render_tag_groups('framework', game['framework']) }}


      {{ tags.render_tag_groups('content', game['content'] | title) }}
      {{ tags.render_tag_groups('license', game['license']) }}

      {%- if 'multiplayer' in game %}
        {{ tags.render_tag_groups('multiplayer', game['multiplayer']) }}
      {%- endif %}

      {%- if 'info' in game %}<div itemprop="description">{{ game['info'] }}</div>{% endif %}

      <div class="gallery" style="display: none"></div>

      {% if game['images'] | length > 0 -%}
        <script class="gallery-json" data-game="{{ game['name'] }}" type="text/json">
          {{- game['images'] | join(', ') -}}
        </script>
      {% endif %}

      <script class="gallery-raw" type="text/plain">
        {% for imageUrl in game.get('images', []) %}
          <img src="{{ imageUrl }}" itemprop="image" alt="{{ game['name'] }}">
        {% endfor %}

        {% if 'video' in game %}
          {% if 'youtube' in game['video'] %}{{ video.render_youtube(game['video']['youtube']) }}{% endif %}
          {% if 'vimeo' in game['video'] %}{{ video.render_vimeo(game['video']['vimeo']) }}{% endif %}
          {% if 'moddb' in game['video'] %}{{ video.render_moddb(game['video']['moddb']) }}{% endif %}
          {% if 'indiedb' in game['video'] %}{{ video.render_indiedb(game['video']['indiedb']) }}{% endif %}
        {%- endif %}
      </script>
    </dd>
  </div>
{% endmacro %}

{% macro render(names, meta, items, mode) %}
  {% for name in names %}
    {{ render_name(name, meta, loop.index0, mode) }}
  {% endfor %}

  {% for game in items %}
    {{ render_game(names, meta, game) }}
  {% endfor %}
{% endmacro %}
