name: Build and Deploy
on: [push, pull_request, pull_request_target]
jobs:
  yamllint:
    runs-on: ubuntu-latest
    steps:
    - name: Yamllint
      uses: ibiqlik/action-yamllint@v3
      with:
        file_or_dir: games/*.yaml originals/*.yaml schema/*.yaml
      env:
        GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: Setup Python
      uses: actions/setup-python@v2.2.2
      with:
        python-version: '3.8'

    - name: Build
      run: |
        make ci
        test 6000 -lt $(cat _build/index.html | wc -l)
        yarn install
        yarn danger ci
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        DANGER_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
